:root  {
    --bg-now:#161c3b;
    --bg-plus:#bebcbb;
    --bg-footer:#00439c;
    --bg-new-games:#1f1f1e;
    --bg-header-sony:#000;
    --dot-color: #0070d1;
}

body {
    font-family: Arial, Helvetica;
}

.header-sony {
    background-color: var(--bg-header-sony);
    justify-content: flex-end;
}

.sony-logo {
    width: 100px;
}

.bg-returnal {
    background-image:url(../img/jumbo-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.thumbnail-hardware {
    width: 95px;
}

.ps-5-img {
    opacity: 0.5;
    border-bottom: 3px solid transparent;
}

.ps-5-img:hover {
    opacity: 1;
    cursor: pointer;
    border-bottom: 3px solid var(--dot-color);
}

.img-container {
    width: 100%;
}

.bg-it-takes-two{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.ms_container {
    width: 80%;
    margin: 0 auto;
}

.ms_ps-container {
    width: 90%;
    margin: 0 auto;
}

.ms_mt {
    margin-top: 100px;
}

.ms_pt {
    padding-top: 350px;
}

ul li a {
    text-decoration: none;
}

.w-100 {
    width: 100%;
}

.sie-logo {
    width: 150px;
}

.language-globe {
    width: 20px;
}

.ps-footer-logo {
    width: 120px;
}

.bg-new-games {
    background-color: var(--bg-new-games);
}

.bg-ps-plus {
    background-color: var(--bg-plus);
}

.bg-ps-now {
    background-color: var(--bg-now);
}

.bg-footer {
    background-color:var(--bg-footer);
}

footer ul {
    list-style: none;
}

.thumbnail {
    transition: 0.5s;
    transition-timing-function: ease-out;
}

.thumbnail:hover {
    transform: translate(0px, -15px);
    cursor:pointer;
}

.dropdown-menu li {
    display: inline-block
}

.w-drop {
    width: 100%;
}

.ms_dropdown-menu{
    margin-top: 0 !important;
    border-radius:0px;
}

.dot-color {
    color: var(--dot-color);
}

.no-border {
    border: none !important;
}

.border-outline {
    border: 3px solid #fff;
    outline: 3px solid #0070d1;
}

.ms_bg-btn-ps-plus {
   background-color: #e4e4e4;
   border: 3px solid #e4e4e4; 
}

.ms_bg-btn-ps-plus:hover {
    box-shadow: 0px 0px 0px 3px #bebebe inset;
    border: 3px solid #cacaca;
}

.ms_bg-btn-ps-now {
    background-color: #fff;
    border: 3px solid #fff;
}

.ms_bg-btn-ps-now:hover {
    box-shadow: 0px 0px 0px 2px var(--bg-now) inset;
}

.border-box-shadow:hover{
    box-shadow: 0px 0px 0px 2px #fff inset;
}

.box-shadow-hero-btn:hover {
    box-shadow: 0px 0px 0px 2px #4d3d3d inset;
}

.ms_link {
    color: #000;
}

.ms_hover-link:hover {
    color: var(--dot-color) ;
}

@media screen and (max-width: 767px) {   
    #ps-plus{
        padding: 30px 0px;
    }

    #ps-now {
        padding: 30px 0px;
    }
}