:root  {
    --bg-now:#161c3b;
    --bg-plus:#bebcbb;
    --bg-footer:#00439c;
    --bg-new-games:#1f1f1e;
    --bg-header-sony:#000;
}

body {
    font-family: Arial, Helvetica;
}

.header-sony {
    background-color: var(--bg-header-sony);
    justify-content: flex-end;
}

.sony-logo {
    width: 100px;
}

.bg-returnal {
    background-image:url(../img/jumbo-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.thumbnail-hardware {
    width: 95px;
}

.img-container {
    width: 100%;
}

.bg-it-takes-two{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.ms_container {
    width: 80%;
    margin: 0 auto;
}

.ms_ps-container {
    width: 90%;
    margin: 0 auto;
}

.ms_mt {
    margin-top: 100px;
}

.ms_pt {
    padding-top: 350px;
}

ul li a {
    text-decoration: none;
}

.w-img {
    width: 100%;
}

.sie-logo {
    width: 150px;
}

.language-globe {
    width: 20px;
}

.ps-footer-logo {
    width: 120px;
}

.bg-new-games {
    background-color: var(--bg-new-games);
}

.bg-ps-plus {
    background-color: var(--bg-plus);
}

.bg-ps-now {
    background-color: var(--bg-now);
}

.bg-footer {
    background-color:var(--bg-footer);
}

footer ul {
    list-style: none;
}

.thumbnail {
    transition: 0.5s;
    transition-timing-function: ease-out;
}

.thumbnail:hover {
    transform: translate(0px, -15px);
    cursor:pointer;
}